# Control Structures

COMMAND + ? = SUPER COMMENT

What are they: Commands that enable a program to know which direction to go. Aka controls the 'flow' of the program

There are different kinds of flow: 
- sequential flow (top to bottom)
- conditional flow 
- repetitive flow (over and over)

Why do we care: These are building blocks in programming that allows us to do a lot of cool things!

## Conditional flow

opener: whats the difference between the following code commands?

In [1]:
breakfast = 'coffee'
# variable assignment

In [3]:
breakfast == 'coffee'
# conditional operator

True

- the single = is setting the variable
- the double equals == is checking a condition

### IF statement

#### IF
-- if this condition is true, do this action

In [ ]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]

In [5]:
breakfast

'coffee'

## note: white space matters in python!

In [7]:
if breakfast == 'coffee':
    print('yes you had coffee for breakfast')

yes you had coffee for breakfast

#### syntax

- after your conditional statement, always include that colon :
- whatever you want to execute, put on a new line and indent

#### more examples

In [ ]:
awake = False

In [10]:
if breakfast == 'coffee':
    print('yes you had coffee for breakfast')
    awake = True
    print (2+3)

yes you had coffee for breakfast
5

- as long as it is indented, it WILL be included

In [12]:
if breakfast == 'cereal':
    print('yay cereal!')

> if the first statement is FALSE then it stops there and will not execute the rest of the indented statements

**troubleshooting**

In [13]:
weather = 'rain'

Whats wrong with the following code? Look at the error statements before fixing.

In [14]:
if weather = 'rain': #only one equal sign!
     print('yes, it is rainy outside today')

SyntaxError: invalid syntax (2469385136.py, line 1)

In [ ]:
if weather == rain: #rain is not defined - no quotes
     print('yes, it is rainy outside today')

In [ ]:
if weather == 'rain': #the indentation is not indented
print('yes, it is rainy outside today')

In [ ]:
if weather == 'rain' #there is no colon
     print('yes, it is rainy outside today')

#### IF/ELSE
-- if this condition is true, do this action, if nothing else is true, do this

In [ ]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_FALSE]

In [17]:
if breakfast == 'banana':
    print('yay banana!')
else:
    print('no breakfast')
    print('you should probably eat breakfast')

no breakfast
you should probably eat breakfast

#### syntax

> note: the indentations and new lines

#### IF/ELIF/ELSE
-- if this condition is true, do this action, else if this other condition is true, do something else, if nothing is true, do this

In [ ]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# elif [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_TRUE]

In [18]:
if breakfast == 'coffee':
    print('coffee')
elif weather == 'rain':
    print('it rains')
else:
    print('no coffee and sunshine')

coffee

- as long as ONE statement is true, it will execute and then exit the IF statements

#### double if?

In [19]:
if breakfast == 'coffee':
    print('coffee')
    
if weather == 'rain': # not using elif statement: making it a new statement
    print('it rains')
else:
    print('no coffee and sunshine')

coffee
it rains

#### check multiple conditions?

> use AND/OR

## Repetitive Flow (loops)

### While loop
-- do some action over and over again while a condition is true

In [ ]:
# FORMAT: 
# while [condition]:
#     [repeat_this_while_condition_is_true]

In [21]:
x = 1

while x < 5:
    print(x)
    x = x + 1
    
print(x)

1
2
3
4
5

#### syntax

 - need the colon after the conditional statement
 - will run until NOT true

#### whats happening in the above code?

- setting x to 1
- then checking if x < 5
- printing x
- then setting x = x + 1
- looping until NOT true

#### another example

In [25]:
x = 1

while x > 10:
    print(x)
    x = x + 1
    
print(x)

1

#### troubleshoot

### For loop
-- allows you to iterate over a sequence

In [ ]:
# FORMAT: 
# for [iterator] in [sequence]:
#     [do_this_usually_on_iterator]

In [27]:
ls = [1,23,5,6,-1]
ls

[1, 23, 5, 6, -1]

In [29]:
for x in ls: # this x is just a placeholder for each value and will retain the last value in the list
    print(x)

1
23
5
6
-1

#### syntax:

- colon at the end of whatever we want to execute
- what we want to execute has to be indented

Q: what is it the sequence in the above loop?

A: ls

Q: what is the iterator in the above loop?

A: x

#### the iterator can be any variable you want

In [30]:
ls

[1, 23, 5, 6, -1]

In [31]:
for random in ls:
    print(random)

1
23
5
6
-1

In [35]:
for x in ls: # this x is just a placeholder for each value and will retain the last value in the list
    print(ls)

[1, 23, 5, 6, -1]
[1, 23, 5, 6, -1]
[1, 23, 5, 6, -1]
[1, 23, 5, 6, -1]
[1, 23, 5, 6, -1]

In [34]:
numbers = [2,4,1.6,2,3] # by assigning the list as a plural, you can retrieve the singular in the following For Loop
for number in numbers:
    print(number)

2
4
1.6
2
3

>> ### explicit variables are going to be your friend

#### execute all the things

In [36]:
ls

[1, 23, 5, 6, -1]

In [40]:
for i in ls:
    print(i)
    print(2+3)
    print('apple')
    print()
print('hello') # NOT included in the for loop, once function exits it prints this

1
5
apple

23
5
apple

5
5
apple

6
5
apple

-1
5
apple

hello

In [41]:
new_list = []

for x in ls:
    print(x)
    
    new_list.append(x+1)
    
new_list

1
23
5
6
-1

[2, 24, 6, 7, 0]

#### can also iterate over strings

In [42]:
string = 'Hello Pagel Class'
string

'Hello Pagel Class'

In [52]:
for char in string:
    print(char)
    if char == 'e':
        print('EYES')

H
e
EYES
l
l
o

P
a
g
e
EYES
l

C
l
a
s
s

### List Comprehension

-- shorthand method of creating a list using a for loop

In [ ]:
#FORMAT:
#[[what_to_do_to_iterator] for [iterator] in [sequence]]

In [54]:
ls

[1, 23, 5, 6, -1]

In [53]:
new_list = []

for x in ls:
    new_list.append(x+1)
    
new_list

[2, 24, 6, 7, 0]

In [55]:
[x+1 for x in ls]

[2, 24, 6, 7, 0]

In [57]:
new_list_from_list_comp = [x+1 for x in ls]

In [59]:
new_list_from_list_comp

[2, 24, 6, 7, 0]

### Break Continue
-- commands to execute in a loop

-- `break` will force the loop to end

-- `continue` will skip the current iteration of a loop

In [ ]:
#make big list