## Pandas Series

#### seaborn, pandas,

* Numpy: Arrays
* Pandas: Series and Dataframes

* Series like a numpy array but with more functionality

* Series: a single column of a table
* Dataframes: the entire table

Series contains an index....which can be thought of as a row name

which is a way to reference items.

the index is stored with other meta-information.
* the elements are of a specific ddata type. Type is inferred but can manualy specified

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
my_list = [2,3,4]

In [6]:
type(my_list)

list

In [8]:
my_array = np.array(my_list)

In [10]:
type(my_array)

numpy.ndarray

In [11]:
my_series = pd.Series(my_list)

In [12]:
my_series

0    2
1    3
2    4
dtype: int64

In [14]:
# my_df = data('sleepstudy')

In [15]:
# data() -> will show the dataframe in a tabular format

In [16]:
# my_df -> will display your rows and columns

In [17]:
# my_df.columns -> will display the Index(['name', etc])

In [24]:
# my_df.Reaction -> to GRAB a COLUMN but cannot add formatting

In [19]:
# data().head(##) -> will display up to the value of ##
# pd.set_option('display.max_rows', 1000) -> to see explicit amt

In [21]:
# my_df.Reaction.head(##) -> to GRAB a special amt from top
# my_df.Reaction.tail(##) -> " " from bottom

In [20]:
# my_df.[['Reaction']] -> to make pretty :)

In [22]:
# my_df[['Reaction','Days']] -> LIST of LISTS to only view as it is no longer a series

### Datatypes in a Series

In [25]:
pd.Series([True, False, True])

0     True
1    False
2     True
dtype: bool

In [27]:
pd.Series(['Codeup', 'Is', 'Awesome']) #obj is the backup for datatypes

0     Codeup
1         Is
2    Awesome
dtype: object

In [28]:
pd.Series(['Five', 1, 4])

0    Five
1       1
2       4
dtype: object

In [30]:
pd.Series(['5', 1, 4]) # THE WORST

0    5
1    1
2    4
dtype: object

In [32]:
a = pd.Series(['5', 1, 4]) # THE WORST

We can filter by dtype and cast it to another type

In [33]:
my_new_series = a[a != '5'] # -> here we are excluding the '5' string...

In [34]:
my_new_series

1    1
2    4
dtype: object

In [35]:
my_new_series.astype('int') # -> cast a datatype to fix the object

1    1
2    4
dtype: int64

In [36]:
my_new_series + 1

1    2
2    5
dtype: object

## Vectorized Operations

Like numpy arrays, pandas series are vectorized by default. E.g., we can easily use the basic arithmetic operators to manipulate every element in the series.

* arithmetic operations
* comparison operations

In [ ]:
# s3.value_counts() -> counts up instances of occurences in your data

In [37]:
# (s3 > 5).any() -> you will have some who meet the requirement

In [39]:
# (s3 > 5).all() -> likely return false as all do not meet
    # can use for verification check??

In [40]:
vowels = list('aeiou')

In [41]:
vowels

['a', 'e', 'i', 'o', 'u']

In [49]:
letters = list('abcdefghijklmnopqrstuvwxyz')

In [50]:
letters_series = pd.Series(letters)

In [51]:
letters_series

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [52]:
letters_series.isin(vowels).value_counts() # -> can filter out items that are in the list

False    21
True      5
dtype: int64

In [53]:
letters_series.isin(vowels).any()

True

## Methods for Descriptive Statistics

mean, mode, quantiles, min, max, count, sum, etc

In [55]:
letters_series.count() # useful to determine where your index starts/stops

26

In [58]:
# {
#     'count':letters_series.count(),
#     'sum':letters_series.sum(),
#     'mean':letters_series.mean(),
#     'median':letters_series.median()
# }

In [60]:
letters_series.describe() # works on dataframes but is technically a series

count     26
unique    26
top        a
freq       1
dtype: object

In [61]:
letters_series.describe # this describes an attribute(feature) not function

<bound method NDFrame.describe of 0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object>

When you want to apply a function to a series or a dataframe

In [62]:
# def even_or_odd(n): function

In [75]:
type(a)

pandas.core.series.Series

In [76]:
def even_or_odd(n):
    if n % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [79]:
a.astype('int')

0    5
1    1
2    4
dtype: int64

IN ORDER TO MAKE THIS WORK I NEED TO CAST THIS SERIES TO AN INTEGER

In [ ]:
a.apply(even_or_odd)

In [89]:
# CAN APPLY LAMBDA FUNCTIONS AS WELL

In [90]:
# DOES NOT NORMALLY WORK WITH MORE THAN ONE ARGUMENT UNLESS YOU ATTACH THEM TO ARG1, ARG2

## Vectorized String Operations

In [82]:
s4 = pd.Series(['Andrew', 'Keila', 'Alexia', 'Manuel', 'Corey'])

In [85]:
s4.str.lower() # attaching a method to a series

0    andrew
1     keila
2    alexia
3    manuel
4     corey
dtype: object

In [86]:
s4.str.upper()

0    ANDREW
1     KEILA
2    ALEXIA
3    MANUEL
4     COREY
dtype: object

In [87]:
s4.str.replace('Manuel','Dude')

0    Andrew
1     Keila
2    Alexia
3      Dude
4     Corey
dtype: object

In [88]:
# can replace yes and no with 1 and 0